#game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.box {
    border: 1px solid black;
    font-size: 100px;
    text-align: center;
}

.box:hover {
    cursor: pointer;
    background-color: gray;
}

